<ion-header>
  <ion-toolbar>
    <ion-title>Editar</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formNota" (ngSubmit)="editNote()">
    <ion-item>
      <ion-label>Titulo</ion-label>
      <ion-input type="text" formControlName="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Descripción</ion-label>
      <ion-textarea type="text" formControlName="description"></ion-textarea>
    </ion-item>
    <section class="full-width" >
      <!--lo que esta entre corchetes son atributos que afectan al html-->
      <ion-button  color="primary"
      
      type="submit" [disabled]="this.formNota.invalid">Editar</ion-button>
      <ion-button  color="tertiary" (click)="closeModal()">Cancelar</ion-button>
    </section>
  </form>
</ion-content>