<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <!--Para el icono-->
      <ion-icon name="folder-open"></ion-icon>
      <!--Para el nombre-->
      <ion-label>notas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="create"></ion-icon>
      <ion-label>Nuevo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="compass"></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
