<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Añadir nota
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="formNota" (ngSubmit)="addNote()">
    <ion-item>
      <ion-label>Titulo</ion-label>
      <ion-input type="text" formControlName="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Descripción</ion-label>
      <ion-textarea type="text" formControlName="description"></ion-textarea>
    </ion-item>
    <section class="full-width">
      <!--lo que esta entre corchetes son atributos que afectan al html-->
      <ion-button expand="full" color="primary"
      
      type="submit" [disabled]="this.formNota.invalid">Agregar</ion-button>
    </section>
  </form>
</ion-content>
